<head>
    <meta charset="UTF-8">
    <title>bookmaker-script</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://bootstrap-4.ru/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/svg+xml" href="https://svgsilh.com/svg_v2/2386838.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    </style>
</head>